.c-center{
    text-align: left;
    margin: auto;
    padding: 1em;
}

.c-menu {
    text-align: center;
    margin-bottom: 1em;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.c-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.c_fieldset {
    margin:auto;
}

.button-remove {
    background: rgb(202, 60, 60); /* this is red */
}

.c_scroll {
    overflow: auto;
    overflow-y: hidden;
}