{% extends "layout.html" %}

{% block body%}
    <div class="pure-g">
        <div class="c-center pure-u-1">
        <h3> Pending Actions </h3>
            <div class="c_scroll">
                <table class="pure-table  pure-table-bordered" border="1">
                    <thead>
                    <tr>
                        <th> Device </th>
                        <th> Action </th>
                        <th> Delete </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for action in actions %}
                        <tr>
                            <td> {{action['Name']}} </td>
                            <td> {{action['Action']}} </td>
                            <td>
                                <form action="/removecommand" method="post">
                                    <input type="hidden" name="id" value="{{ action['Action id'] }}" />
                                    <button type="submit" class="pure-button pure-button-primary button-remove" value="id">X</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="c-center pure-u-1">
            <form class="pure-form pure-form-aligned" action="/addcommand" method="post">
                <h3> Add an Action to Execute </h3>
                <fieldset>
                    <div class="pure-control-group">
                        <label for="device">Device Name</label>
                        <select id="device" name="device">
                            {% for device in user_devices %}
                            <option> {{ device.device }} ({{ device.device_type }})</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="pure-control-group">
                        <label for="action">Action</label>
                        <select id="action" name="action">
                           {%   for action in possible_actions %}
                           <option> {{ action[0] }} ({{ action[1] }}) </option>
                           {% endfor %}
                        </select>
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}