{% extends  "layout.html" %}


{% block body %}
    <div class="pure-g">
        <div class="c-center pure-u-1-2">
            <form class="pure-form pure-form-aligned" action="/addcommand" method="post">
                <h3> Add a command for your device to execute </h3>
                <fieldset>
                    <div class="pure-control-group">
                        <label for="device">Device Name</label>
                        <select id="device" name="device">
                            {% for device in user_devices %}
                            <option> {{ device.device }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="pure-control-group">
                        <label for="action">Action</label>
                        <select id="action" name="action">
                            <option>Toggle Power</option>
                            <option>Increase Room Temp</option>
                            <option>Decrease Room Temp</option>
                            <option>Increase Fan Speed</option>
                            <option>Decrease Fan Speed</option>
                        </select>
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}